@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.public-DraftStyleDefault-block {
  margin: 4px 0 !important;
}

#nprogress .bar {
  background: #364294 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #364294, 0 0 5px #364294;
}

#nprogress .spinner-icon {
  border-top-color: #364294;
  border-left-color: #364294;
}
